<body>
    <div class="container">
      <header>
        <div class="header-logo" style="background: url(https://images.vexels.com/content/179961/preview/color-animal-flat-turtle-fb3816.png) #B0E3FF 50% / cover no-repeat; mix-blend-mode: darken;"></div>
        <div class="header-title">
            <h1>Ocean Pollution: A Silent Danger to Marine Life</h1>
        </div>
    </header>    
        <main>
            <section class="impact">
                <div class="image" style="background: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQg4sUUW2x5n8RIoxXN_j0vLJNcgGiTqLl1WVwjVNcHkSKUvhEZ) lightgray 50% / cover no-repeat;"></div>
                <h2>Impact of Pollution on Marine Life</h2>
                <p>Marine animals ingest plastics and debris or become entangled, causing digestive blockages and injuries. Toxic chemicals bioaccumulate in the food chain, contaminating fish and seafood, which affects predators and humans.</p>
            </section>
            <section class="types">
                <div class="image" style="background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIoS6AuKWzfsxEzwicypA-nhn-zb4exVIACwy0V2F8k8cqtQr3) lightgray 50% / cover no-repeat;"></div>
                <h2>Types of Pollution and Their Impacts</h2>
                <p>Plastic waste, oil spills, and toxic chemicals harm marine life. Plastics cause intestinal blockages, oil coats and harms seabirds and mammals, and chemicals accumulate in tissues, affecting health and reproduction.</p>
            </section>
            <section class="solutions">
                <div class="image" style="background: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRGqm8HW2bX8Z9GiqSCJxHhX8QbkiegYsFAyxUyBzAEhqzgZlgz) lightgray 50% / cover no-repeat;"></div>
                <h2>Solutions and Actions</h2>
                <p>Policies should limit single-use plastics and promote recycling. Improve waste management systems. Educate the public on reducing, reusing, and recycling.</p>
            </section>
        </main>
        <footer>
          <h2>Conclusion</h2>
          <p>Protecting the oceans and marine life is everyone's responsibility. Adopting conscious consumption habits, 
            supporting environmental initiatives, and advocating for effective policies can make a difference in preserving our oceans for future generations. 
            Educating and raising public awareness about the impacts of marine pollution is also crucial for inspiring positive global changes. 
            Taking care of our oceans is essential to ensure a healthy and sustainable environment for all life forms on our planet.</p>
          <div class="footer-logo" style="background: url(https://images.vexels.com/content/179961/preview/color-animal-flat-turtle-fb3816.png) #B0E3FF 100% / cover no-repeat; mix-blend-mode: darken; float: right;"></div>
          <h1> BY: Estrella Garcia</h1> 
        </footer>
      
    </div>
</body>
